
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Login</h2>

<form method="post" onsubmit="ValidarLogin()">

    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" class="form-control" id="usuario" value="" name="Logins.Usuario">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" id="senha" value="" name="Logins.Senha">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script type="text/javascript">

    function validarLogin() {
        var usuarioLogin = document.getElementById("usuario");
        var senhaLogin = document.getElementById("senha");

        if (usuarioLogin == "admin" && senhaLogin == "123") {
            document.createElement("action").appendChild("/Login/ValidarLogin");
        }



    }

</script>