
@{
    Layout = null;
}

<div class="modal fade" id="cadastrar-gastos-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
                <h4>Cadastrar Gastos</h4>
            </div>
            <div class="modal-body">


                <div class="form-group">
                    <label class="col-md-2 control-label" for="campo-valor">Valor do Gasto <h11></h11></label>
                    <div class="col-md-10">
                    <input id="campo-valor" name="campo-valor" placeholder="" class="form-control input-md col-sm-6" required="" type="text">
                    </div>
                </div>
                    

                <div class="form-group">
                    <label class="col-md-2 control-label" for="campo-data-entrada">Data de Entrada <h11></h11></label>
                    <div class="col-md-10">
                        <input id="campo-data-entrada" name="campo-data-entrada" placeholder="DD/MM/AAAA" class="form-control input-md col-sm-6" required="" type="date" value="" maxlength="10" onkeypress="formatar('##/##/####', this)">
                    </div>
                </div>



                <div class="form-group">
                    <label class="col-md-2 control-label" for="campo-vencimento">Data de Vencimento <h11></h11></label>
                    <div class="col-md-10">
                        <input id="campo-vencimento" name="campo-vencimento" placeholder="DD/MM/AAAA" class="form-control input-md col-sm-6" required="" type="date" value="" maxlength="10" onkeypress="formatar('##/##/####', this)">
                    </div>
                </div>

          
                <div class="form-group">
                    <label class="col-md-2 control-label" for="campo-descricao">Descrição <h11></h11></label>
                    <div class="col-md-10">
                        <input id="campo-descricao" name="campo-descricao" placeholder="" class="form-control input-md col-sm-6" required="" type="text">
                    </div>
                </div>

       
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelar-cadastro-pessoa">Cancelar</button>
                <input type="submit" class="btn btn-primary" value="Salvar" id="salvar-cadastro-gasto">
            </div>
        </div>
    </div>
</div>

