@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
<h2>@ViewBag.TituloPagina</h2>

<a href="#" class="btn btn-primary cadastrar-gasto" data-target="#cadastrar-gastos-modal" data-toggle="modal">Cadastrar</a>

<a href="/Gasto/Cadastro">Registrar Gasto</a>

<div class="card-block">
    <div class="table-responsive dt-responsive">
        <table id="tabela-gastos" class="table table-striped-gastos-index" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor</th>
                    <th>Data de Entrada</th>
                    <th>Data de Vencimento</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Valor</th>
                    <th>Data de Entrada</th>
                    <th>Data de Vencimento</th>
                    <th>Descrição</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@Html.Partial("~/Views/Gasto/CadastoGastoModel.cshtml")

@*
 @section css{
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.brighttheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.history.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.mobile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/pages/pnotify/notify.css">
}


@section script{
    <!-- pnotify js -->
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.desktop.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.buttons.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.confirm.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.callbacks.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.animate.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.history.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.mobile.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.nonblock.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/pnotify/notify.js"></script>
}
*@

@section script{

<script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>

<script type="text/javascript" src="~/Content/bower_components/modernizr/js/css-scrollbars.js"></script>

    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>

    <script type="text/java" src="~/Content/assets/js/.js"></script>

    <script src="~/Scripts/scriptGastos/tabelaindex.js"></script>
 
    <script src="~/Scripts/scriptGastos/create-gasto.js"></script>

    <script src="~/Scripts/scriptGastos/editar-gasto.js"></script>


}