@model SistemaFinanceiro.Models.Cartoes

@{
    int pessoa = Convert.ToInt32(Session["user"]);

    List<SistemaFinanceiro.Models.Cartoes> allCard = new List<SistemaFinanceiro.Models.Cartoes>();
}

<div class="modal fade" id="editar-gastos-pessoa" role="dialog" style="z-index: 1050; display: none;" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Gastos</h5>
                <button type="button" class="close fechar-gastos" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-editar-gastos">
                    <input type="hidden" value="@pessoa" id="id-pessoa-gastos" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon" for="cartao-editar">Cartão</label>
                                <select id="editar-numero-cartao" class="form-control" name="cartao-editar" required></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <label class="input-group-addon" for="valor-editar">R$</label>
                                <input id="editar-valor" name="valor-editar" class="form-control input-md col-sm-12" type="text" required maxlength="12">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon" for="categoria-editar">Categoria</label>
                                <select id="editar-categoria-gastos" class="form-control" name="categoria-editar" required></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-descricao">Descrição</label>
                                <input class="form-control" name="editar-descricao" type="text" id="editar-descricao-gasto" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-data-entrada">Data Pagamento</label>
                                <input id="editar-entrada" name="editar-data-entrada" placeholder="DD/MM/AAAA" class="form-control " type="datetime" value="" required>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-data-termino">Data término</label>
                                <input id="editar-termino" name="editar-data-termino" placeholder="DD/MM/AAAA" class="form-control " type="datetime" value="" required>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editar-gastos-home">Salvar</button>
                </div>

            </div>
        </div>
    </div>
</div>

