@{
    Layout = "~/Views/Shared/Master.cshtml";
}


<body>

    <div class="row">
        <!-- Statistics and revenue Start -->
        <div class="col-md-12 ">
            <div class="card card-statistics ">
                <div class="card-header ">
                    <div class="card-header-left ">
                        <h5>Statistics of visits and total revenue</h5>
                    </div>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="icofont icofont-simple-left "></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                            <li><i class="icofont icofont-error close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block ">
                    <div class="row ">

                        <div class="col-sm-4 ">
                            <div class="card feed-card">
                                <div class="card-block p-t-0 p-b-0">
                                    <div class="row">
                                        <div class="col-4 bg-c-green border-feed">
                                            <i class="icofont icofont-wallet f-40"></i>
                                        </div>
                                        <div class="col-5">
                                            <div class="p-t-30 p-b-30">
                                                <h2 class="f-w-400 m-b-10">$6,391</h2>
                                                <p class="text-muted m-0">Total <span class="text-c-green f-w-600">earning</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card feed-card">
                                <div class="card-block p-t-0 p-b-0">
                                    <div class="row">
                                        <div class="col-4 bg-c-pink border-feed">
                                            <i class="iconfont icofont-arrow-down f-40"></i>
                                        </div>
                                        <div class="col-8">
                                            <div class="p-t-30 p-b-30">
                                                <h2 class="f-w-400 m-b-10">3,619</h2>
                                                <p class="text-muted m-0">New <span class="text-c-pink f-w-600">Order Recieved</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-t-default p-t-20 m-t-30">
                        <div class="row ">
                            <div class="col-sm-4 ">
                                <h6 class="d-inline-block m-r-10 ">User growth</h6>
                                <span class="label bg-c-blue ">28%</span>
                            </div>
                            <div class="col-sm-4 ">
                                <h6 class="d-inline-block m-r-10 ">Earning growth</h6>
                                <span class="label bg-c-pink ">12%</span>
                            </div>
                            <div class="col-sm-4 ">
                                <h6 class="d-inline-block m-r-10 ">Trade growth</h6>
                                <span class="label bg-c-yellow ">56%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Statistics and revenue End -->
        <!-- Status Revenue Start -->
        <div class="col-md-12 col-xl-6 ">
            <div class="card status-revenue-card ">
                <div class="card-header ">
                    <div class="card-header-left ">
                        <h5>Revenue status</h5>
                    </div>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="icofont icofont-simple-left "></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                            <li><i class="icofont icofont-error close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block ">
                    <div class="row ">
                        <div class="col-sm-6 b-r-default ">
                            <div class="row status-rev-chart">
                                <div class="col-sm-6 m-b-40">
                                    <canvas id="revenue-status-d-graph" height="50"></canvas>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <i class="icofont icofont-caret-up text-muted f-16 "></i>
                                    <p class="text-muted f-16 d-inline-block f-w-400 m-l-10 m-b-0 ">
                                        +1.6%
                                    </p>
                                </div>
                            </div>
                            <h2>$27,674</h2>
                            <p class="text-muted m-b-0 f-w-400 ">Revenue daily</p>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="row status-rev-chart">
                                <div class="col-sm-6 m-b-30">
                                    <canvas id="revenue-status-w-graph" height="50"></canvas>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <i class="icofont icofont-caret-down text-muted f-16 "></i>
                                    <p class="text-muted f-16 d-inline-block f-w-400 m-l-10 m-b-0 ">
                                        - 0.9%
                                    </p>
                                </div>``
                            </div>
                            <h2>17,563</h2>
                            <p class="text-muted m-b-0 f-w-400 ">Revenue weekly</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Status Revenue End -->
        <!-- Weather Start -->
        <div class="col-md-6 col-xl-6 ">
            <div class="card ">
                <div class="card-header">
                    <h5>Weather Update</h5>
                </div>
                <div class="card-block weather-update">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <svg version="1.1" id="cloudSun" class="climacon climacon_cloudSun" viewBox="15 15 70 70">
                                <clipPath id="cloudFillClip">
                                    <path d="M15,15v70h70V15H15z M59.943,61.639c-3.02,0-12.381,0-15.999,0c-6.626,0-11.998-5.371-11.998-11.998c0-6.627,5.372-11.999,11.998-11.999c5.691,0,10.434,3.974,11.665,9.29c1.252-0.81,2.733-1.291,4.334-1.291c4.418,0,8,3.582,8,8C67.943,58.057,64.361,61.639,59.943,61.639z" />
                                </clipPath>
                                <clipPath id="sunCloudFillClip">
                                    <path d="M15,15v70h70V15H15z M57.945,49.641c-4.417,0-8-3.582-8-7.999c0-4.418,3.582-7.999,8-7.999s7.998,3.581,7.998,7.999C65.943,46.059,62.362,49.641,57.945,49.641z" />
                                </clipPath>
                                <g class="climacon_iconWrap climacon_cloudSun-iconWrap">
                                    <g clip-path="url(#cloudFillClip)">
                                        <g class="climacon_componentWrap climacon_componentWrap-sun climacon_componentWrap-sun_cloud">
                                            <g class="climacon_componentWrap climacon_componentWrap_sunSpoke">
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-orth" d="M80.029,43.611h-3.998c-1.105,0-2-0.896-2-1.999s0.895-2,2-2h3.998c1.104,0,2,0.896,2,2S81.135,43.611,80.029,43.611z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M72.174,30.3c-0.781,0.781-2.049,0.781-2.828,0c-0.781-0.781-0.781-2.047,0-2.828l2.828-2.828c0.779-0.781,2.047-0.781,2.828,0c0.779,0.781,0.779,2.047,0,2.828L72.174,30.3z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M58.033,25.614c-1.105,0-2-0.896-2-2v-3.999c0-1.104,0.895-2,2-2c1.104,0,2,0.896,2,2v3.999C60.033,24.718,59.135,25.614,58.033,25.614z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M43.892,30.3l-2.827-2.828c-0.781-0.781-0.781-2.047,0-2.828c0.78-0.781,2.047-0.781,2.827,0l2.827,2.828c0.781,0.781,0.781,2.047,0,2.828C45.939,31.081,44.673,31.081,43.892,30.3z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M42.033,41.612c0,1.104-0.896,1.999-2,1.999h-4c-1.104,0-1.998-0.896-1.998-1.999s0.896-2,1.998-2h4C41.139,39.612,42.033,40.509,42.033,41.612z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M43.892,52.925c0.781-0.78,2.048-0.78,2.827,0c0.781,0.78,0.781,2.047,0,2.828l-2.827,2.827c-0.78,0.781-2.047,0.781-2.827,0c-0.781-0.78-0.781-2.047,0-2.827L43.892,52.925z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M58.033,57.61c1.104,0,2,0.895,2,1.999v4c0,1.104-0.896,2-2,2c-1.105,0-2-0.896-2-2v-4C56.033,58.505,56.928,57.61,58.033,57.61z" />
                                                <path class="climacon_component climacon_component-stroke climacon_component-stroke_sunSpoke climacon_component-stroke_sunSpoke-north" d="M72.174,52.925l2.828,2.828c0.779,0.78,0.779,2.047,0,2.827c-0.781,0.781-2.049,0.781-2.828,0l-2.828-2.827c-0.781-0.781-0.781-2.048,0-2.828C70.125,52.144,71.391,52.144,72.174,52.925z" />
                                            </g>
                                            <g class="climacon_wrapperComponent climacon_wrapperComponent-sunBody" clip-path="url(#sunCloudFillClip)">
                                                <circle class="climacon_component climacon_component-stroke climacon_component-stroke_sunBody" cx="58.033" cy="41.612" r="11.999" />
                                            </g>
                                        </g>
                                    </g>
                                    <g class="climacon_wrapperComponent climacon_wrapperComponent-cloud" clip-path="url(#cloudFillClip)">
                                        <path class="climacon_component climacon_component-stroke climacon_component-stroke_cloud" d="M44.033,65.641c-8.836,0-15.999-7.162-15.999-15.998c0-8.835,7.163-15.998,15.999-15.998c6.006,0,11.233,3.312,13.969,8.203c0.664-0.113,1.338-0.205,2.033-0.205c6.627,0,11.998,5.373,11.998,12c0,6.625-5.371,11.998-11.998,11.998C57.26,65.641,47.23,65.641,44.033,65.641z" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col-md-12 text-center">
                            <h2 class="p-b-30 f-w-400">23 ° C</h2>
                        </div>
                    </div>
                    <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <!-- Weather End -->
        <!--Graficos INICIO-->
        <div class="col-md-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Grafico de gastos mensais</h5>
                </div>
                <div class="card-block">
                    <canvas class="line-chart" id="myChart"></canvas>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Grafico de gastos por setor</h5>
                </div>
                <div class="card-block">
                    <canvas id="chartSetor"></canvas>
                </div>

            </div>
        </div>
        <!--Graficos FIM-->
        <!--TABELA CARTAO INICIO -->
        <div class="card">
            <div class="card-block-big">
                <div class="table-responsive dt-responsive">
                    <table id="tabela-cartao-home" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>IdPessoas</th>
                                <th>Numero</th>
                                <th>Conta</th>
                                <th>Bandeira</th>
                                <th>Banco</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>IdPessoas</th>
                                <th>Numero</th>
                                <th>Conta</th>
                                <th>Bandeira</th>
                                <th>Banco</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--TABELA CARTAO FIM-->
        <!--TABELA GASTOS INICIO -->
        <div class="col-md-6 col-xl-6">
            <div class="card">
                <div class="card-block-big">
                    <div class="table-responsive dt-responsive">
                        <table id="tabela-gastos-home" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>IdCartao</th>
                                    <th>IdCategoria</th>
                                    <th>valor</th>
                                    <th>Entrada</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>IdCartao</th>
                                    <th>IdCategoria</th>
                                    <th>valor</th>
                                    <th>Entrada</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--TABELA GASTOS FIM-->

    </div>

</body>

@section css{

    <!-- SELECT2 -->
    <link href="~/Content/bower_components/select2/css/select2.min.css" rel="stylesheet" />

    <!-- pnotify js -->
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.brighttheme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.history.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bower_components/pnotify/css/pnotify.mobile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/pages/pnotify/notify.css">
}

@section script{
    <!-- SELECT2 -->
    <script src="~/Content/bower_components/select2/js/select2.full.min.js"></script>
    <script src="~/Content/bower_components/select2/js/select2.js"></script>


    <!-- pnotify js -->
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.desktop.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.buttons.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.confirm.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.callbacks.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.animate.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.history.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.mobile.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/pnotify/js/pnotify.nonblock.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/pnotify/notify.js"></script>



    <script src="~/Content/bower_components/c3/js/c3.js"></script>
    <!-- counter js -->
    <script src="~/Content/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/assets/js/counter.js"></script>
    <!-- Morris Chart js -->
    <script src="~/Content/bower_components/raphael/js/raphael.min.js"></script>
    <script src="~/Content/bower_components/morris.js/js/morris.js"></script>
    <!-- Float Chart js -->
    <script src="~/Content/assets/pages/chart/float/jquery.flot.js"></script>
    <script src="~/Content/assets/pages/chart/float/jquery.flot.categories.js "></script>
    <script src="~/Content/assets/pages/chart/float/jquery.flot.pie.js "></script>

    <!-- Rickshow Chart js -->
    <script src="~/Content/bower_components/d3/js/d3.js"></script>
    <script src="~/Content/assets/pages/chart/rickshow/d3.layout.min.js"></script>
    <script src="~/Content/bower_components/rickshaw/js/rickshaw.js"></script>
    <script type="text/javascript" src="~/Content/assets/pages/widget/jquery.sparkline.js"></script>
    <!-- gauge js -->
    <script src="~/Content/assets/pages/widget/gauge/gauge.min.js "></script>
    <script src="~/Content/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/gauge.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/pie.js"></script>
    <script src="~/Content/assets/pages/widget/amchart/light.js"></script>
    <!-- peity Chart js -->
    <script src="~/Content/bower_components/peity/js/jquery.peity.js "></script>
    <!-- knob js -->
    <script src="~/Content/assets/pages/chart/knob/jquery.knob.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/SmoothScroll.js"></script>
    <!-- Custom js -->
    <script src="~/Content/assets/js/pcoded.min.js"></script>
    <script src="~/Content/assets/js/demo-12.js"></script>
    <script src="~/Content/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>
    <script src="~/Content/bower_components/chart.js/js/Chart.js"></script>

    <script src="~/Scripts/scriptHome/grafico-recebimento-home.js"></script>
    <script src="~/Scripts/scriptHome/grafico-gastos-setor-home.js"></script>
    <script src="~/Scripts/scriptHome/calculosHome.js"></script>
    @*<script src="~/Scripts/ScriptPessoaCadastro/delete-person-modal.js"></script>*@

    @*<script src="~/Scripts/ScriptPessoaCadastro/creat-person-modal.js"></script>*@
    <script src="~/Scripts/ScriptPessoaCadastro/edit-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/delete-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/cartao.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/add-recebimento.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/add-gastos.js"></script>

    @*<script src="~/Scripts/scriptPerfilUsuario/usuario-perfil.js"></script>
        <script src="~/Scripts/ScriptPessoaCadastro/pessoas-cadastro.js"></script>
        <script src="~/Scripts/ScriptPessoaCadastro/add-recebimento.js"></script>
        <script src="~/Scripts/ScriptPessoaCadastro/add-gastos.js"></script>
        <script src="~/Scripts/Login/login-usuario.js"></script>*@
}
