
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

    <div>

        <form action="/Pessoas/Store" method="post">

            <div class="form-group" id="div-campo-nome">
                <label for="campo-nome">Nome<span class="text-danger font-wight-bold">*</span></label>
                <input type="text" class="form-control" name="Pessoas.Nome" id="campo-nome" required value="@ViewBag.Pessoas.Nome" />
            </div>
            <div class="form-group" id="dropper-default">
                <label>Data Nascimento</label>
                <input type="text" class="form-control" name="Pessoas.Data_nascimento" id="dropper-default" required value="@ViewBag.Pessoas.Data_nascimento" />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" id="div-campo-nota1">
                        <label for="campo-nota1">Nota 1<span class="text-danger font-wight-bold">*</span></label>
                        <input type="text" class="form-control" name="" id="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" id="div-campo-nota2">
                        <label for="campo-nota2">Nota 2<span class="text-danger font-wight-bold">*</span></label>
                        <input type="text" class="form-control" name="" id="campo-nota2" required value="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" id="div-campo-nota3">
                        <label for="campo-nota3">Nota 3<span class="text-danger font-wight-bold">*</span></label>
                        <input type="text" class="form-control" name="" id="campo-nota3" required value="" />
                    </div>
                </div>
            </div>



            <div class="form-group" id="div-campo-frequencia">
                <label for="campo-frequencia">Frequencia</label>
                <input type="text" class="form-control" name="Aluno.Frequencia" id="campo-frequencia" required value="" />
            </div>

            <button type="submit" class="btn btn-success" onclick=""><i class="fa fa-save"></i>Salvar</button>
        </form>
    </div>
