@model SistemaFinanceiro.Models.Categoria
    

<div class="modal" id="modal-gastos-pessoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="campo-valor-recebimento">Valor</label>
                            <input id="campo-recebimento-valor" name="campo-valor-recebimento" class="form-control " type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="campo-data-recebimento">Data Recebimento<h11>*</h11></label>
                            <input id="campo-recebimento-data" name="campo-data-recebimento" placeholder="DD/MM/AAAA" class="form-control" type="date" value="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="campo-descricao-recebimento">Descrição<h11>*</h11></label>
                            <div class="col-md-5">
                                <select id="campo-descricao" class="form-control" name="descricao">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" id="cadastrar-recebimento">Save changes</button>
            </div>
        </div>
    </div>
</div>