@{
    Layout = null;
}


<div class="modal fade" id="cadastrar-pessoa-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
                <h4>Cadatrar Pessoas</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-md-2 control-label" for="campo-nome">Nome <h11>*</h11></label>
                    <input id="campo-nome" name="Pessoas.Nome" placeholder="" class="form-control input-md col-sm-6" required="" type="text">
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="campo-idade">Idade</label>
                            <input type="text" class="form-control input-md" name="Pessoas.Idade" id="campo-idade" maxlength="2" readonly="readonly" />
                        </div>
                    </div>
                    <label class="col-md-1 control-label" for="radios">Sexo</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label required="" class="radio-inline" for="campo-sexo-feminino">
                                <input name="Pessoas.Sexo" id="campo-sexo-feminino" value="F" type="radio">
                                Feminino
                            </label>

                            <label class="radio-inline" for="campo-sexo-masculino">
                                <input name="Pessoas.Sexo" id="campo-sexo-masculino" value="M" type="radio">
                                Masculino
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="campo-nascimento">Nascimento<h11>*</h11></label>
                            <input id="campo-nascimento" name="Pessoas.DataNascimento" placeholder="DD/MM/AAAA" class="form-control" required="" type="date" value="" maxlength="10" onkeypress="formatar('##/##/####', this)">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="campo-cpf">CPF</label>
                            <input id="campo-cpf" name="Pessoas.CPF" placeholder="Apenas números" class="form-control input-md" required="" type="text" maxlength="11" @*pattern="[0-9]+$"*@>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="campo-telefone">Telefone</label>
                            <input id="campo-telefone" name="Pessoas.Telefone" class="form-control" placeholder="XX XXXXX-XXXX" type="text" maxlength="13" @*pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$*@
                                   onkeypress="formatar('## #####-####', this)">
                        </div>
                    </div>
                </div>

                <h4>Endereço</h4>
                <hr>
                <div class="row m-10">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">CEP</span>
                            <input id="cep" name="Pessoas.Cep" placeholder="Apenas números" class="form-control col-sm-5" required="" type="search" maxlength="8" pattern="[0-9]+$">
                        </div>
                    </div>

                    @*<div class="col-md-2">
                            <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>

                        </div>*@
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">Rua</span>
                            <input id="rua" name="rua" class="form-control " placeholder="" required="" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Nº <h11>*</h11></span>
                            <input id="numero" name="numero" class="form-control col-sm-3" placeholder="" maxlength="4" required="" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Bairro</span>
                            <input id="bairro" name="bairro" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cidade</span>
                            <input id="cidade" name="cidade" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">Estado</span>
                            <input id="estado" name="estado" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelar-cadastro-pessoa">Cancelar</button>
                <input type="submit" class="btn btn-primary" value="Salvar" id="salvar-cadastro-modal">
            </div>
        </div>
    </div>
</div>

