@{
    Layout = null;
}

<div class="modal fade" id="modal-cadastro-cartao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro Cartão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                        <div class="one">
                            <label for=''>Name on card</label>
                            <input placeholder='Johny Relative' type='text'>
                        </div>

                        <div class="two">
                            <label for=''>Card Number</label>
                            <input maxlength='16' placeholder='4478 6632 9923 8890' type='number'>
                        </div>

                        <div class="three">
                            <label for=''>Expiry Date</label>
                            <select>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>

                        <div class="four">
                            <!-- blank character -->
                            <label for=''>&#x200b;</label>
                            <select>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                            </select>
                        </div>
                        <div class="five">
                            <label for=''>CVV</label>
                            <input maxlength='3' placeholder='633' type='number'>
                        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*
        REGEX para script para identificar bandeira do cartao

        Amex: /^3[47][0-9]{13}/
        Diners Club: /^3(?:0[0-5]|[68][0-9])[0-9]{11}/
        Visa: /^4[0-9]{12}(?:[0-9]{3})/
        Mastercard: /^5[1-5][0-9]{14}/
        Discover: /^6(?:011|5[0-9]{2})[0-9]{12}/
        Hipercard: /^(606282\d{10}(\d{3})?)|(3841\d{15})/
        Elo: /^((((636368)|(438935)|(504175)|(451416)|(636297))\d{0,10})|((5067)|(4576)|(4011))\d{0,12})/
        JCB: /^(?:2131|1800|35\d{3})\d{11}/


        function getCreditCardLabel(cardNumber){

      // Visa: ^4[0-9]{12}(?:[0-9]{3})?$ All Visa card numbers start with a 4. New cards have 16 digits. Old cards have 13.
      // MasterCard: ^5[1-5][0-9]{14}$ All MasterCard numbers start with the numbers 51 through 55. All have 16 digits.
      // American Express: ^3[47][0-9]{13}$ American Express card numbers start with 34 or 37 and have 15 digits.
      // Diners Club: ^3(?:0[0-5]|[68][0-9])[0-9]{11}$ Diners Club card numbers begin with 300 through 305, 36 or 38. All have 14 digits. There are Diners Club cards that begin with 5 and have 16 digits. These are a joint venture between Diners Club and MasterCard, and should be processed like a MasterCard.
      // Discover: ^6(?:011|5[0-9]{2})[0-9]{12}$ Discover card numbers begin with 6011 or 65. All have 16 digits.
      // JCB: ^(?:2131|1800|35\d{3})\d{11}$ JCB cards beginning with 2131 or 1800 have 15 digits. JCB cards beginning with 35 have 16 digits.
      // http://www.regular-expressions.info/creditcard.html

      var regexVisa = /^4[0-9]{12}(?:[0-9]{3})?/;
      var regexMaster = /^5[1-5][0-9]{14}/;
      var regexAmex = /^3[47][0-9]{13}/;
      var regexDiners = /^3(?:0[0-5]|[68][0-9])[0-9]{11}/;
      var regexDiscover = /^6(?:011|5[0-9]{2})[0-9]{12}/;
      var regexJCB = /^(?:2131|1800|35\d{3})\d{11}/;

      if(regexVisa.test(cardNumber)){
       return 'visa';
      }
      if(regexMaster.test(cardNumber)){
       return 'master';
      }
      if(regexAmex.test(cardNumber)){
       return 'amex';
      }
      if(regexDiners.test(cardNumber)){
       return 'diners';
      }
      if(regexDiscover.test(cardNumber)){
       return 'discover';
      }
      if(regexJCB.test(cardNumber)){
       return 'jcb';
      }

      return '';

    }


*@