

<div class="modal fade" id="cadastrar-cartoes-pessoa">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
                <h4>Cadastrar Cartão</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="col-md-2 control-label" for="numero-Cartao">Número cartão<h11>*</h11></label>
                    <input id="campo-numero-Cartao" name="numero-cartao" class="form-control input-md col-sm-6 numero-Cartao" required="" type="text" value="">
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="numero-Conta">Número Conta<h11>*</h11></label>
                    <input id="campo-numero-Conta" name="numero-conta" class="form-control input-md col-sm-6 numero-Conta" required="" type="text" value="">
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="bandeira">Bandeira<h11>*</h11></label>
                    <input id="campo-bandeira" name="bandeira" placeholder="" class="form-control input-md col-sm-6" required="" type="text">
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="banco">Banco<h11>*</h11></label>
                    <input id="campo-banco" name="banco" placeholder="" class="form-control input-md col-sm-6" required="" type="text" value="">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelar-cadastro-categoria">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Salvar" id="salvar-cartao">
                </div>

            </div>
        </div>
    </div>
</div>
