@{
    Layout = null;
}


<div class="modal fade" id="editar-pessoa-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
                <h4>Editar Pessoas</h4>
            </div>


            <div class="modal-body">

                <div class="form-group">
                    <h4>Informações pessoais</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-pessoa-modal-campo-nome">Nome<h11>*</h11></label>
                                <input id="editar-pessoa-modal-campo-nome" name="nome" placeholder="Digite seu nome completo" class="form-control input-md col-sm-10" required="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-1 control-label" for="radios">Sexo</label>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label required="" class="radio-inline" for="editar-pessoa-modal-campo-sexo-feminino">
                                    <input name="Sexo-feminino" id="editar-pessoa-modal-campo-sexo-feminino" value="F" type="radio">
                                    Feminino
                                </label>

                                <label class="radio-inline" for="editar-pessoa-modal-campo-sexo-masculino">
                                    <input name="sexo-masculino" id="editar-pessoa-modal-campo-sexo-masculino" value="M" type="radio">
                                    Masculino
                                </label>
                            </div>
                        </div>
                        <div class="input-md col-md-7" >
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-pessoa-modal-campo-nascimento">Nascimento<h11>*</h11></label>
                                <input id="editar-pessoa-modal-campo-nascimento" name="nascimento" placeholder="DD/MM/AAAA" class="form-control input-md col-sm-5" required="" type="date" value="" maxlength="10">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-pessoa-modal-campo-cpf">CPF</label>
                                <input id="editar-pessoa-modal-campo-cpf" name="CPF" placeholder="Apenas números" class="form-control input-md col-sm-8" required="" type="text" maxlength="11">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-addon" for="editar-pessoa-modal-campo-telefone">Telefone</label>
                                <input id="editar-pessoa-modal-campo-telefone" name="telefone" class="form-control input-md col-sm-8" placeholder="XX XXXXX-XXXX" type="text" maxlength="13">
                            </div>
                        </div>
                    </div>
                    <h4>Endereço</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">CEP</span>
                                <input id="editar-pessoa-modal-campo-cep" name="Pessoas.Cep" placeholder="Apenas números" class="form-control col-sm-5" required="" type="search" maxlength="8" pattern="[0-9]+$">
                            </div>
                        </div>

                        @*<div class="col-md-2">
                                <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>

                            </div>*@
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Rua</span>
                                <input id="rua-editar" name="rua-editar" class="form-control " placeholder="" required="" readonly="readonly" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">Nº <h11>*</h11></span>
                                <input id="numero-editar" name="numero-editar" class="form-control col-sm-3" placeholder="" maxlength="4" required="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">Bairro</span>
                                <input id="bairro-editar" name="bairro-editar" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Cidade</span>
                                <input id="cidade-editar" name="cidade-editar" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">Estado</span>
                                <input id="estado-editar" name="estado-editar" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">Data</span>
                                <input id="data-editar" name="data-editar" class="form-control" placeholder="" required="" readonly="readonly" type="text">
                            </div>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <input type="submit" class="btn btn-success" value="Salvar" id="salvar-cadastro-modal">
                    </div>

                </div>
            </div>
