@model IEnumerable<SistemaFinanceiro.Models.Pessoas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<a href="#" class="btn btn-primary cadastrar-pessoa" data-target="#cadastrar-pessoa-modal" data-toggle="modal">Cadastrar</a>

<table id="tabela-pessoas" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Data Nascimento</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>CEP</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Data Nascimento</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>CEP</th>
        </tr>
    </tfoot>
</table>



@Html.Partial("~/Views/Pessoas/CadastroModal.cshtml")
@Html.Partial("~/Views/Pessoas/EditarModal.cshtml")


@section script{

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/css-scrollbars.js"></script>

    <!-- data-table js -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content//bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
            src="~/Content/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/Content/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <!-- Custom js -->
    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>

    <script src="~/Content/assets/js/pcoded.min.js"></script>
    <script src="~/Content/assets/js/demo-12.js"></script>
    <script src="~/Content/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>

    <script src="~/Scripts/ScriptPessoaCadastro/creat-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/delete-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/edit-person-modal.js"></script>
    <script src="~/Scripts/ScriptPessoaCadastro/pessoas-cadastro.js"></script>

}



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  " role="document">
        <div class="modal-content">
            <div class="modal-header">
                AVISO!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja mesmo Excluir ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="yes-option">Excluir</button>
            </div>
        </div>
    </div>
</div>
@* inicio modal editar *@
