

<p>
    <a href="#" class="btn btn-primary" id="modal-index-pessoas">Cadastrar Pessoa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Ação</th>
        </tr>
    </tfoot>
</table>