@model IEnumerable<SistemaFinanceiro.Models.Recebimento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Recebimentos cadastrados</h2>

<a href="#" class="btn btn-primary cadastrar-recebimento" data-target="#cadastro-recebimento" data-toggle="modal">Cadastrar</a>
<a href="#" class="btn btn-warning editar-recebimento" data-target="#editar-recebimento" data-toggle="modal">Editar</a>
<a href="#" class="btn btn-danger aviso-recebimento" data-target="#avisoRecebimento" data-toggle="modal">Excluir</a>

<div class="card-block">
    <div class="table-responsive dt-responsive">
        <table id="tabela-recebimento" class="table table-striped-recebimento-index" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor recebido</th>
                    <th>Data de recebimento</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Valor recebido</th>
                    <th>Data de recebimento</th>
                    <th>Descrição</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<a href="#" class="btn btn-danger modal-usuario" data-target="#modal-perfil-usuario" data-toggle="modal">perfil usuario</a>
@Html.Partial("~/Views/PerfilUsuario/IndexPerfil.cshtml")
@Html.Partial("~/Views/Recebimento/CadastroModal.cshtml")
@Html.Partial("~/Views/Recebimento/EditarRecebimentoModal.cshtml")
@Html.Partial("~/Views/Recebimento/AvisoRecebimento.cshtml")


@section script{

    <script type="text/javascript" src="~/Content/bower_components/modernizr/js/css-scrollbars.js"></script>

    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/Content/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/Content/assets/pages/data-table/js/data-table-custom.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>

    <script src="~/Scripts/scriptRecebimento/tabelarecebimento.js"></script>

}