@{
    int pessoa = Convert.ToInt32(Session["user"]);
}


<div class="modal fade" id="cadastrar-cartoes-pessoa">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cartão</h5>
                <button type="button" class="close fechar-modal-cartao" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
<!---->               <form id="validar-cartao">
    <input type="hidden" value="@pessoa" id="idpessoa-cartao" />
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <label class="input-group-addon" for="numero-Cartao">Número cartão</label>
                <input id="campo-numero-Cartao" name="numero-cartao" class="form-control" type="text" value="" required>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <label class="input-group-addon" for="numero-Conta">Número Conta</label>
                <input id="campo-numero-Conta" name="numero-conta" class="form-control " required="" type="text" value="">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <label class="input-group-addon" for="bandeira">Bandeira</label>
                <input id="campo-bandeira" name="bandeira" class="form-control" required="" type="text" value="">
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <label class="input-group-addon" for="banco">Banco</label>
                <input id="campo-banco" name="banco" class="form-control " required="" type="text" value="">
            </div>
        </div>
    </div>


    <div class="modal-footer">

        <input type="submit" class="btn btn-primary" value="Salvar" id="salvar-cartao">
    </div>
</form>
                    </div>
                </div>

            </div>
        </div>
